body {
  background-color: #ffffff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #6096B4;
  display: flex;
}

.nav-link {
  color: black;
}

.navbar-brand {
  color: black;
  font-weight: bolder;
  padding-left: 10px;
}

.barname {
  margin: 0;
  padding: 10px;
  padding-right: 20px;
  font-size: large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
}

.bar a {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
  transition-duration: 0.3s;
  padding-top: 12;
  padding-left: 8;
  padding-right: 8;
}

.bar a:hover {
  transition-duration: 0.3s;
  padding-top: 14;
  background-color: #97c0c3;
  border-bottom: 2px solid #ac4425;
}

.pfp {
  width: 50%;
  /* float: left; */
  /* margin-right: 20px;
  margin-top: 20px; */
}

.bio {
  background-color: #EEE9DA;
  overflow: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bio-row {
  padding-top: 5px;
  margin: auto;
  width: 50%;
  text-align: left;
  clear: left;
  max-width: 657.5px;
}

.bio-row-other-interests {
  margin: auto;
  width: 50%;
  text-align: left;
  clear: left;
  max-width: 657.5px;
}

.bio-row h3 {
  text-align: left;
}

.bio-row h4 {
  text-align: left;
}

.skills {
  background-color: #6096B4;
  overflow: auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.skills h1 {
  font-weight: bold;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: white;
}

.skills h2 {
  color: white;
}

.skill-row span {
  font-weight: bold;
}

.skill-col a{
  color: rgb(233, 138, 21);
  font-weight: bold;
}

.skill-col img {
  width: 20%;
  transition: transform 0.7s ease-in-out;
  margin-bottom: 10px;
}

.skill-col:hover > img {
  transform: rotate(360deg) scale(110%);
}

.projects {
  background-color: #93BFCF;
  overflow: auto;
  text-align: center;
  padding-bottom: 60px;
}


.projects h1 {
  font-weight: bold;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: white;
}

.projects-col p {
  font-weight: bold;
}

.projects-col {
  min-height: 300px;
  margin: 4px;
  background-size: contain;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.proj1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.85) 70%), url('../proj1pic.jpg');
  position: relative;
  z-index:1;
}

.proj1::before {
  content: "";
  background-image: radial-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.85)), url('../proj1pic.jpg');
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  z-index:0;
  transition: opacity 500ms;
  opacity: 0;
}

.proj1:hover::before {
  opacity: 1;
}

#proj1-description.hidden {
  display: none;
}
#proj1-description {
  margin-top: 20px;
}

.proj2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.85) 70%), url('../proj2pic.jpg');
  position: relative;
  z-index:1;
}

.proj2::before {
  content: "";
  background-image: radial-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.85)), url('../proj2pic.jpg');
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  z-index:0;
  transition: opacity 500ms;
  opacity: 0;
}

.proj2:hover::before {
  opacity: 1;
}

.proj3 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.85) 70%), url('../proj3pic.jpg');
  position: relative;
  z-index:1;
}

.proj3::before {
  content: "";
  background-image: radial-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.85)), url('../proj3pic.jpg');
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  z-index:0;
  transition: opacity 500ms;
  opacity: 0;
}

.proj3:hover::before {
  opacity: 1;
}

.proj4 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.85) 70%), url('../proj4pic.jpg');
  position: relative;
  z-index:1;
}

.proj4::before {
  content: "";
  background-image: radial-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.85)), url('../proj4pic.jpg');
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  z-index:0;
  transition: opacity 500ms;
  opacity: 0;
}

.proj4:hover::before {
  opacity: 1;
}



.projects-col h4 {
  position:relative;
  color: white;
}

.projects-col a {
  color: rgb(233, 138, 21);
}

.contact {
  background-color: #EEE9DA;
  text-align: center;
  overflow: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer a {
  color: white;
}

footer p {
  margin: 0;
}
